<a href="https://colab.research.google.com/github/JerinRaj20/Assignment_Py/blob/main/Analytics_hackathon_Insurance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
import os
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error, r2_score

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [29]:
sub = pd.read_csv("sample_submission.csv")

In [59]:
train_model = pd.read_csv("train_preprocessed.csv")
test_model = pd.read_csv("test_preprocessed.csv")
sample = pd.read_csv("sample_submission.csv")

In [32]:
X = train_model.drop(columns = 'Response')
y = train_model['Response']

In [36]:
train_X , test_X ,train_y , test_y = train_test_split(X,y,test_size =0.2, random_state =20)

In [37]:
model = LinearRegression()

In [39]:
model.fit(train_X, train_y)

LinearRegression()

In [40]:
model.predict(test_X)

array([-0.0018158 ,  0.06521606,  0.0619812 , ...,  0.23187256,
        0.27001953,  0.03726196])

In [41]:
model.coef_
model.intercept_
train_X_pred = model.predict(train_X)
test_X_pred = model.predict(test_X)

In [44]:
train_X_RMSE = np.sqrt(mean_squared_error(train_y, train_X_pred))

In [45]:
train_X_RMSE

0.30120182421428376

In [46]:
test_X_RMSE = np.sqrt(mean_squared_error(test_y, test_X_pred))

In [47]:
test_X_RMSE

0.30106908858057113

In [48]:
train_X_R2 = r2_score(train_y, train_X_pred)
test_X_R2 = r2_score(test_y, test_X_pred)

In [49]:
train_X_R2,test_X_R2

(0.15627965653081421, 0.15760261252018426)

In [60]:
test_pred = model.predict(test_model)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

In [53]:
test_model

,Driving_License,Previously_Insured,Annual_Premium,Gender_Female,Gender_Male,Vehicle_Damage_No,Vehicle_Damage_Yes,Vehicle_Age_1-2 Year,Vehicle_Age_< 1 Year,Vehicle_Age_> 2 Years,...,Region_Code_43.0,Region_Code_44.0,Region_Code_45.0,Region_Code_46.0,Region_Code_47.0,Region_Code_48.0,Region_Code_49.0,Region_Code_50.0,Region_Code_51.0,Region_Code_52.0
0,1,1,0,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,0,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127032,1,1,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
127033,1,0,0,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
127034,1,1,0,0,1,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
127035,1,1,0,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
127036,1,1,0,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
train_model

,Driving_License,Previously_Insured,Annual_Premium,Response,Gender_Female,Gender_Male,Vehicle_Damage_No,Vehicle_Damage_Yes,Vehicle_Age_1-2 Year,Vehicle_Age_< 1 Year,...,Region_Code_43.0,Region_Code_44.0,Region_Code_45.0,Region_Code_46.0,Region_Code_47.0,Region_Code_48.0,Region_Code_49.0,Region_Code_50.0,Region_Code_51.0,Region_Code_52.0
0,1,0,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,0,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,1,0,0,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381104,1,1,0,0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
381105,1,1,0,0,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
381106,1,1,0,0,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
381107,1,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
381108,1,0,0,0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
train_model.columns

Index(['Driving_License', 'Previously_Insured', 'Annual_Premium', 'Response',
       'Gender_Female', 'Gender_Male', 'Vehicle_Damage_No',
       'Vehicle_Damage_Yes', 'Vehicle_Age_1-2 Year', 'Vehicle_Age_< 1 Year',
       'Vehicle_Age_> 2 Years', 'Age_bins_(20, 30]', 'Age_bins_(30, 40]',
       'Age_bins_(40, 50]', 'Age_bins_(50, 60]', 'Age_bins_(60, 70]',
       'Age_bins_(70, 80]', 'Age_bins_(80, 85]', 'Vintage_bins_(10, 60]',
       'Vintage_bins_(60, 120]', 'Vintage_bins_(120, 180]',
       'Vintage_bins_(180, 240]', 'Vintage_bins_(240, 299]', 'Region_Code_0.0',
       'Region_Code_1.0', 'Region_Code_2.0', 'Region_Code_3.0',
       'Region_Code_4.0', 'Region_Code_5.0', 'Region_Code_6.0',
       'Region_Code_7.0', 'Region_Code_8.0', 'Region_Code_9.0',
       'Region_Code_10.0', 'Region_Code_11.0', 'Region_Code_12.0',
       'Region_Code_13.0', 'Region_Code_14.0', 'Region_Code_15.0',
       'Region_Code_16.0', 'Region_Code_17.0', 'Region_Code_18.0',
       'Region_Code_19.0', 'Region_Code_20.0', 'Region_Code_21.0',
       'Region_Code_22.0', 'Region_Code_23.0', 'Region_Code_24.0',
       'Region_Code_25.0', 'Region_Code_26.0', 'Region_Code_27.0',
       'Region_Code_28.0', 'Region_Code_29.0', 'Region_Code_30.0',
       'Region_Code_31.0', 'Region_Code_32.0', 'Region_Code_33.0',
       'Region_Code_34.0', 'Region_Code_35.0', 'Region_Code_36.0',
       'Region_Code_37.0', 'Region_Code_38.0', 'Region_Code_39.0',
       'Region_Code_40.0', 'Region_Code_41.0', 'Region_Code_42.0',
       'Region_Code_43.0', 'Region_Code_44.0', 'Region_Code_45.0',
       'Region_Code_46.0', 'Region_Code_47.0', 'Region_Code_48.0',
       'Region_Code_49.0', 'Region_Code_50.0', 'Region_Code_51.0',
       'Region_Code_52.0'],
      dtype='object')

In [63]:
test_pred[1:3]

array([1.01521936e+11, 1.01521936e+11])

In [65]:
test_pred_modified = np.where(test_pred<0,0,1)
test =pd.read_csv("test.csv")

In [66]:
test['Response'] = test_pred_modified
output = test[[ "id", "Response"]]

In [67]:
output.to_csv("output_insurance.csv", index = False)